@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Comme:wght@700&family=Open+Sans&family=PT+Serif:ital@1&family=Work+Sans&display=swap');

body {
  color: #222; /* dark gray */
  font-family: "Castoro Tilting", "Open Sans", "Comme", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 960px;
  margin: 0 auto;
  background: repeating-linear-gradient( 45deg, #000000, #000000 20px, #4c4c4c 20px, #4c4c4c 100px );
}

body.a {
  color: black;
}

body.pregame-postgame-live-interviews {
  background-color: #4c4c4c;
  opacity: 1;
  background: repeating-linear-gradient( 45deg, #000000, #000000 20px, #4c4c4c 20px, #4c4c4c 100px );
}

body.resume {
  background-color: #4c4c4c;
  opacity: 1;
  background: repeating-linear-gradient( 45deg, #000000, #000000 20px, #4c4c4c 20px, #4c4c4c 100px );
}

body.writing {
  background-color: #4c4c4c;
  opacity: 1;
  background: repeating-linear-gradient( 45deg, #000000, #000000 20px, #4c4c4c 20px, #4c4c4c 100px );
}

body.television {
  background-color: #4c4c4c;
  opacity: 1;
  background: repeating-linear-gradient( 45deg, #000000, #000000 20px, #4c4c4c 20px, #4c4c4c 100px );
}

body.play-by-play {
  background-color: #4c4c4c;
  opacity: 1;
  background: repeating-linear-gradient( 45deg, #000000, #000000 20px, #4c4c4c 20px, #4c4c4c 100px );
}

body.the-announcers-hour {
  background-color: #4c4c4c;
  opacity: 1;
  background: repeating-linear-gradient( 45deg, #000000, #000000 20px, #4c4c4c 20px, #4c4c4c 100px );
}

body.pmloss {
  background-color: #4c4c4c;
  opacity: 1;
  background: repeating-linear-gradient( 45deg, #000000, #000000 20px, #4c4c4c 20px, #4c4c4c 100px );
}

main {
  display: grid;
  grid-template-columns: 3fr;
  column-gap: 100px;
  max-width: 960px;
}

a,
a:link {
  text-decoration: underline;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

a:active {
  color: #005030;
  text-decoration: underline;
}

header {
  background-color: black;
  border: 10px inset gray;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

#social-media {
  text-align: center;
  color: black;
}

nav {
  bottom: 0 px;
  text-align: center;
  max-width: 2000px;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin: 0 9px;
  padding-top: 25px;
  padding-bottom: 25 px;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
}

ul {
  font-family: "Open Sans", "Castoro Tilting", "Comme", "Helvetica", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-top: 0px;
}

li {
  list-style-type: none;
}

h1 {
  font-family: "Times New Roman", "Castoro Tilting", "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: white;
  text-align: center;
}

h2 {
  font-family: "Open Sans", "Castoro Tilting", "Comme", "Helvetica", "Arial", sans-serif;
  font-size: 40px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 20px;
}

h3 {
  font-family: "Work Sans", "Open Sans", "Castoro Tilting", "Comme", "Helvetica", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin: auto;
}

p {
  margin-bottom: 0;
}

figcaption {
  font-family: "PT Serif", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style:italic;
}

figure {
  margin-left: 0px;
}

#headshot {
  background-color: #ccc;
  border: 10px inset #F47321;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#about-me {
  background-color: #ccc;
  border: 10px inset #005030;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#play-by-play {
  background-color: #ccc;
  border: 10px outset #F47321;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#on-the-camera {
  background-color: #ccc;
  border: 10px inset #005030;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#behind-the-camera {
  background-color: #ccc;
  border: 10px inset #F47321;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#writing {
  background-color: #ccc;
  border: 10px inset #F47321;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#experience {
  background-color: #ccc;
  border: 10px inset #F47321;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#education {
  background-color: #ccc;
  border: 10px inset #005030;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#contact {
  background-color: #ccc;
  border: 10px inset #F47321;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#resume {
  background-color: #ccc;
  border: 10px inset #F47321;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#weightloss {
  background-color: #ccc;
  border: 10px inset #F47321;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#latestvideo {
  background-color: #ccc;
  border: 10px inset #005030;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#baseball-television {
  background-color: #ccc;
  border: 10px outset #F47321;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

.grid-container-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
}

.grid-container-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.grid-container-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.grid-container-5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 100px;
}

.grid-container-6 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.grid-container-7 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.grid-container-8 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.grid-container-9 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.grid-container-10 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.grid-container-11 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.grid-container-12 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.grid-container-13 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.grid-container-14 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.grid-container-15 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.grid-container-16 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.grid-container-17 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

#baseball-radio {
  background-color: #ccc;
  border: 10px inset #005030;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#football-radio {
  background-color: #ccc;
  border: 10px inset #F47321;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
}

#basketball-radio {
  background-color: #ccc;
  border: 10px inset #005030;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
}

#womens-basketball-radio {
  background-color: #ccc;
  border: 10px inset #F47321;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
}

#pregame-shows {
  background-color: #ccc;
  border: 10px inset #F47321;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#postgame-shows {
  background-color: #ccc;
  border: 10px inset #005030;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#halftime-shows {
  background-color: #ccc;
  border: 10px inset #F47321;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#mid-inning-reports {
  background-color: #ccc;
  border: 10px inset #005030;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#live-interviews {
  background-color: #ccc;
  border: 10px inset #F47321;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

iframe {
  border-width: 0px;
}

#wgem {
  background-color: #ccc;
  border: 10px inset #F47321;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

#umtv {
  background-color: #ccc;
  border: 10px inset #005030;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#stand-ups-and-live-shots {
  background-color: #ccc;
  border: 10px inset #F47321;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#anchor {
  background-color: #ccc;
  border: 10px inset #F47321;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#mhbb-story {
  background-color: #ccc;
  border: 10px inset #F47321;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#mhb-story {
  background-color: #ccc;
  border: 10px inset #005030;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#mhf-story {
  background-color: #ccc;
  border: 10px inset #F47321;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#mhbc-story {
  background-color: #ccc;
  border: 10px inset #005030;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#mhwb-story {
  background-color: #ccc;
  border: 10px inset #F47321;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#mh-story {
  background-color: #ccc;
  border: 10px inset #005030;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#mm-story {
  background-color: #ccc;
  border: 10px inset #F47321;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#mot-story {
  background-color: #ccc;
  border: 10px inset #005030;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#mhhsf-story {
  background-color: #ccc;
  border: 10px inset #F47321;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#the-announcers-hour {
  background-color: #ccc;
  border: 10px inset #F47321;
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

iframe{
  border-width: 0px;
}

#play-by-play-reel {
  background-color: #ccc;
  border: 10px inset #F47321;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#radio-samples {
  background-color: #ccc;
  border: 10px inset #005030;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#baseball-television {
  background-color: #ccc;
  border: 10px inset #F47321;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

#radio-shows {
  background-color: #ccc;
  border: 10px inset #F47321;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
  max-width: 960px;
  width: 960px;
}

img {
  border: 5px ridge #000000;
}