@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Pathway+Extreme:wght@600&family=Tilt+Prism&display=swap');

body {
  color: #222; /* dark gray */
  font-family: "Oswald", "Pathway Extreme", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  max-width: 960px;
  margin: 0 auto;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  max-width: 960px;
  margin: 0 auto;
}

a,
a:link {
  color: #0166b4; /* Nauru flag blue */
  text-decoration: none;
}

a:visited {
  color: #cd853f; /* light brown */
  text-decoration: none;
}

a:hover {
  color: rgb(255,0,0); /* red */
  text-decoration: underline;
}

a:active {
  color: rgb(0,128,0); /* green */
  text-decoration: underline;
}

h1 {
  font-family: "Tilt Prism", "Oswald", "Pathway Extreme", "Helvetica", "Arial", sans-serif;
  font-size: 100px;
  font-weight: 700;
  color: #0166b4; /* Nauru flag blue */
}

h2 {
  font-family: "Pathway Extreme", "Oswald", "Helvetica", "Arial", sans-serif;
  font-size: 60px;
  font-weight: 600;
  margin-top: 0;
}

h3 {
  font-family: "Oswald", "Pathway Extreme", "Helvetica", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

p {
  margin-bottom: 0;
}

figcaption {
  font-family: "Oswald", "Pathway Extreme", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style:italic;
}

#Introduction {
  background-color: #ccc; /* gray */
  border: 10px groove #fdf100; /* Nauru flag yellow */
  margin-top: 100px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
}

#Environment {
  background-color: #ccc; /* gray */
  border: 10px groove #fdf100; /* Nauru flag yellow */
  margin-top: 100px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
}

#Economy {
  background-color: #ccc; /* gray */
  border: 10px groove #fdf100; /* Nauru flag yellow */
  margin-top: 100px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
}

#Communications {
  background-color: #ccc; /* gray */
  border: 10px groove #fdf100; /* Nauru flag yellow */
  margin-top: 100px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding: 10px;
}

figure {
  border: 20px double #0166b4; /* Nauru flag blue */
  padding: 20px;
}

img {
  border: 5px ridge #000000; /* Black */
}